*{
    margin: 0px;
    padding: 0px;
    font-family: 'texto';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/images/background.webp);
}

:root{
    --p: rgb(63, 73, 225);
    --pe: rgb(26, 32, 115);
    --s: rgb(146, 18, 18);
    scroll-behavior: smooth;
}

.telaini{
    width: 100vw;
    height: 100vh;
    background-color: var(--p);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telaini h1{
    transform: scale(0);
    font-family: 'titulo';
    font-size: 4rem;
    animation: 0.5s forwards aparecer;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.telaini h2{
    transform: scale(0);
    animation: 0.5s forwards aparecer;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.fade{
    width: 100vw;
    height: 50vh;
    background-image: linear-gradient(var(--p),transparent);
}

.navbar{
    height: 90px;
    width: 100vw;
    background-color: var(--pe);
    position: absolute;
    top: 0;
    box-shadow: black 0px 10px 50px;
    display: flex;
    animation: 1s forwards descer;
}

.navbar img{
    width: 15%;
    height: 90%;
}

.alright{
    width: 100vw;
    display: flex;
    gap: 10px;
    justify-content: right;
    padding: 20px;
}

.alright a{
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-decoration: none;
    color: white;
    background-color: var(--s);
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
}

.alright a:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.sec{
    padding: 20px;
    text-align: justify;
    width: fit-content;
    max-width: 50rem;
    background-color: var(--p);
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    scroll-snap-align: center;
}

.sec h1{
    text-align: center;
    font-family: 'titulo';
    margin-bottom: 20px;
}

.sec p{
    font-size: 1.5rem;
}

@font-face{
    font-family: 'texto';
    src: url("assets/fonts/texto.ttf");
}

@font-face{
    font-family: 'titulo';
    src: url("assets/fonts/titulo.ttf");
}

@keyframes descer{
    0%{transform: translateY(-300px);}
    100%{transform: translateY(0px);}
}

@keyframes aparecer{
    0%{transform: scale(0%);}
    100%{transform: scale(100%);}
}